.score-input-container {
  width: 400px;


  ul {
    list-style: none;


    li {
      display: flex;
      font-size: 16px;
      flex-direction: row;
      text-align: left;
    }
  }
}

img {
  width: 150px;
}